@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

.login-container-image{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.1),
                        rgba(0, 0, 0, 0.1)), url("images/login.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

.login-text-white{
    transform: translateY(-150px);
}
.small-text-login{
    transform: translateY(-120px);
}